<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
    {{> header}}
    <p>All the projects will be listed here.</p>
    <p> should be a list of links to github projects</p>
    {{> footer}}
</body>
</html>